@import "./custom.scss";

.btn {
	border-radius: 10%;
}

.button-text {
	font-size: 10vw;
	z-index: 10;
}

.drum-btn {
	//width: 22%;
	@media screen and (orientation: landscape) {
		//width: auto;
		height: 15vh;
	}
}

.pad-col {
	max-height: 33%;
}

input[type="range"],
.slider {
	-webkit-appearance: slider-vertical; /* Hides the slider so that custom slider can be made */
	//width: 10vh; /* Specific width is required for Firefox. */
	height: 33%;
	//  margin-top: auto;
	//  margin-bottom:auto;
	/* margin-top: 95vh;
   margin-left: -20vw;
   margin-right: 0; */
	appearance: slider-vertical;
	background: red; /* Otherwise white in Chrome */
	border: solid yellow;
	grid-area: slider;
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	height: 20px;
	width: 20px;
	background-color: green;
	// color: green;
}

.h-15 {
	height: 15%;
}

.pad-keys {
	color: red;
	animation: blink 1s;
}
@keyframes blink {
	0% {
		background-color: red;
	}
	100% {
		background-color: black;
	}
}

.pad-row {
	/* @media screen and (orientation: landscape) {
		flex: 0 0 30%;
		//height: 100%;
		overflow: hidden;
	} */
	//background-color: green;
}

.vinyl-grey-parts {
	fill: rgba(30, 30, 30, 1);
}

#buttons-pane {
	/* 	@media screen and (orientation: landscape) {
		padding: 0 !important;
		overflow: hidden;
		height: 100%;
		//flex: 0 0 15%;
	} */
}

#drum-machine {
	height: 100vh;
}
#indicators-row {
	max-height: 10vh;
	height: 10vh;
}

#main-area {
	height: 100%;
}

#power-button {
	max-height: 80%;
	@media screen and (min-width: 500px) {
		max-height: 50%;
	}
	@media screen and (min-width: 800px) {
		max-height: 70%;
	}

	@media screen and (orientation: landscape) {
		max-height: 50%;
	}
}
#power-row-container {
	flex: 0 0 15%;
	@media screen and (orientation: landscape) {
		flex: 0 0 5%;
	}
}
#info-row-container {
	flex: 0 0 25%;
	@media screen and (orientation: landscape) {
		flex: 0 0 15%;
	}
}
#drumpad-container {
	flex: 1 0 0;
	@media screen and (orientation: landscape) {
		overflow: hidden;
	}
}

#pad {
	flex: 1 0 0;
}

#toggle-button-container {
	@media screen and (orientation: landscape) {
		max-width: 15vw;
	}
}

/* svg {
	filter: drop-shadow(-10px 10px 5px rgb(0 0 0 /0.4));
	max-height: 100%;
	overflow: visible;
} */
