@use "./variables.scss";
//Common Elements
.btn {
	border-radius: 10%;
	&:focus {
		background-color: variables.$focused-btn-background-color;
	}
}
.button-text {
	font-size: 10vw;
}
.pad-btn {
	@media screen and (orientation: landscape) {
		height: 15vh;
		border-radius: 4px;
	}
}
.pad-col {
	max-height: variables.$pad-col-height;
}
.animated-pad-btn {
	background-color: red !important;
	animation: blink auto;
}
/* @keyframes blink {
	0% {
		background-color: red;
	}
	100% {
		background-color: red;
	}
} */
